@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.glass-effect {
  border-radius: 1rem;
  border: 1px solid rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(216, 211, 211, 0.76);
  color: #fff; /* Optional: To ensure text is readable on the glass effect */
   /* Optional: Add padding to make content look better */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
